.section-header{
    p{
        font-size: 1.5rem;
    }
}

.social-network{
    img{
        margin-right: 1rem;
    }
}

.mobile-app-section{
    .btn-primary{
        padding: .5rem 1rem;
        outline: none;
        border: none;
        background-color: #ba0c49;
    }
}